.duvidas {
  padding-top: 120px;
  padding-bottom: 120px;

  & h2 {
    margin-bottom: 24px;
  }

  & dl > div {
    padding: 20px;
    border-radius: 8px;
  }

  & dl > div:nth-child(odd) {
    background-color: var(--c1);
  }

  & button {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
  }

  & button::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    background-color: var(--v5);
  }

  & button::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 6px;
    background-image: url(../../assets/Logo%20%&%20%Icones/seta.svg);
    transition: 0.3s;
  }

  & button:hover::after,
  & button[aria-expanded="true"]::after {
    transform: rotate(180deg);
  }

  & dd {
    display: none;
  }

  & dd.ativa {
    display: block;
  }

  & dd {
    padding-left: 20px;
    padding-top: 12px;
    max-width: 80ch;
  }
}

@media (max-width: 900px) {
  .duvidas {
    padding-top: 60px;
    padding-bottom: 60px;

    & button {
      gap: 12px;
    }

    & dd {
      padding-left: 24px;
    }
  }
}
