.introducao-bg {
  background: linear-gradient(rgba(0 0 0) 40%, rgba(26 26 26) 100%);
  color: var(--c0);
  position: relative;
  box-shadow: 0 -120px inset var(--c0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
  position: relative;

  & h1 {
    margin-bottom: 32px;
  }

  & p {
    margin-bottom: 24px;
    color: var(--c5);
  }
}

.introducao-conteudo .btn .movimento-line {
  content: "";
  position: absolute;
  bottom: -3%;
  left: -30%;
  width: 30%;
  height: 3px;

  background: linear-gradient(90deg, transparent, #33ffbc, transparent);

  animation: underlineMove 3s linear infinite;
  border-radius: 2px;

  filter: drop-shadow(0 0 6px #33ffbc) drop-shadow(0 0 12px #33ffbc)
    drop-shadow(0 0 24px #33ffbc);

  opacity: 1;
  pointer-events: none;
}

@keyframes underlineMove {
  0% {
    left: -9%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 77%;
    opacity: 0;
  }
}

.introducao-conteudo .btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--grad1);
  z-index: -1;
  transition: height 0.2s ease;
  border-radius: 8px;

  filter: drop-shadow(0 0 1px rgba(51, 255, 187, 0.5))
    drop-shadow(0 0 2px rgba(51, 255, 187, 0.5))
    drop-shadow(0 0 30px rgba(51, 255, 187, 0.5));

  opacity: 1;
  pointer-events: none;
}

.introducao-conteudo .btn:hover::before {
  height: 100%;
}

.introducao-img {
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.introducao-conteudo::after {
  content: "";
  width: 2px;
  height: 65%;
  background: var(--v5);
  position: absolute;
  right: -2%;
  top: 1%;
  box-shadow: 0 0 80px 10px rgba(0, 255, 170, 0.705);
}

@media (max-width: 800px) {
  .introducao-bg {
    padding-top: 20px;
  }
  .introducao h1 {
    margin-bottom: 16px;
  }
}

@media (max-width: 650px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao-conteudo {
    padding-bottom: 40px;
    position: relative;

    & .btn.btn:hover::before {
      display: none;
    }

    .introducao-conteudo .btn:hover .movimento-line {
      animation: underlineMove 3s linear infinite;
      opacity: 100%;
    }
  }

  .introducao-conteudo::after {
    top: 1%;
    left: 18%;
    transform: rotate(90deg);
    height: 62%;
  }
}

@media (max-width: 530px) {
  .introducao-img img {
    height: 50dvh;
  }

  .introducao-conteudo::after {
    display: none;
  }

  .introducao-conteudo h1::after {
    content: "";
    width: 45%;
    height: 2px;
    top: 30%;
    left: 0;
    background: var(--v5);
    position: absolute;
    box-shadow: 0 0 80px 10px rgba(0, 255, 170, 0.705);
  }
}

@media (max-width: 480px) {
  .container-header {
    padding: 16px 20px;
  }
}

@media (max-width: 440px) {
  .introducao-conteudo h1::after {
    left: 28%;
    width: 52%;
  }
}

@media (max-width: 390px) {
  .introducao-img img {
    height: 40dvh;
  }
  .introducao-conteudo h1 {
    font-size: 1.875rem;
    margin-bottom: 14px;
  }

  .introducao-conteudo h1::after {
    width: 56%;
    left: 32%;
    top: 28%;
  }
}

@media (max-width: 360px) {
  .introducao-conteudo h1 {
    width: 70%;
  }

  .introducao-conteudo h1::after {
    width: 62%;
    left: 1%;
    top: 35%;
  }
}

@media (max-width: 322px) {
  .introducao-conteudo h1::after {
    width: 70%;
  }
}
