.introducao-bg {
  background: linear-gradient(rgba(0 0 0) 40%, rgba(26 26 26) 100%);
  color: var(--c0);
  position: relative;
  box-shadow: 0 -120px inset var(--c0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
  position: relative;

  & h1 {
    margin-bottom: 32px;
  }

  & p {
    margin-bottom: 24px;
    color: var(--c5);
  }
}

.introducao-img {
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.introducao-conteudo::after {
  content: "";
  width: 2px;
  height: 0%;
  background: var(--v5);
  position: absolute;
  right: -2%;
  top: 1%;
  box-shadow: 0 0 80px 10px rgba(0, 255, 170, 0.705);
  transition: height ease-in 0.3s;
  z-index: 2;
}

.introducao-conteudo.carregado::after {
  height: 65%;
}

@media (max-width: 800px) {
  .introducao h1 {
    margin-bottom: 16px;
  }
}

@media (min-width: 651px) {
  .introducao {
    & .sublinhado::after {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao-conteudo::after {
    display: none;
  }

  .introducao-conteudo {
    padding-bottom: 40px;
    position: relative;
  }
}

@media (max-width: 530px) {
  .introducao-img img {
    height: 50dvh;
  }
}

@media (max-width: 390px) {
  .introducao-img img {
    height: 40dvh;
  }
  .introducao-conteudo h1 {
    margin-bottom: 14px;
  }
}

@media (max-width: 360px) {
  .introducao-conteudo h1 {
    width: 70%;
  }
}
