.contato-bg {
  background: linear-gradient(0deg, #1c1c1c 50%, var(--c12) 100%);
  box-shadow: inset 0 -200px #ffffff;
  margin-bottom: 120px;
}

.contato-texto {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  & p {
    margin-bottom: 12px;
  }
}

.contato-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contato-lojas {
  background-color: var(--c12);
  padding: 60px;
  border-radius: 8px 0 0 8px;

  & h2 {
    margin-bottom: 60px;
  }

  & li {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  & li {
    margin-bottom: 16px;
  }

  & li:hover {
    color: var(--c0);
  }
}

.contato-redes {
  display: flex;
  gap: 20px;
  margin-top: 40px;

  & img {
    cursor: pointer;
  }
}

.contato-form {
  background-color: var(--c1);
  padding: 60px;
  border-radius: 0 8px 8px 0;
}

@media (max-width: 650px) {
  .contato-container {
    grid-template-columns: 1fr;
  }
  .contato-lojas {
    border-radius: 8px 8px 0 0;
  }
  .contato-form {
    border-radius: 0 0 8px 8px;
  }
  .contato-bg {
    box-shadow: inset 0 -400px #ffffff;
  }
}

@media (max-width: 530px) {
  .contato-form,
  .contato-lojas {
    padding: 40px;
  }

  .contato-texto {
    margin-bottom: 20px;
  }
}
